<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main-container flex h-screen justify-center items-center flex-col bg-[#f8fafc]">
        <div class=" flex justify-center items-center flex-col p-[20px] gap-y-5 border-[2px] border-solid border-black rounded bg-[#334155] shadow-xl">
            <h1 class="text-4xl text-white">Page Not Found</h1>
            <p class="w-[500px] text-center text-white">This is not the page you are looking for click below to go on home Page.</p>
            <div class="home-link "><a class="text-2xl px-2 py-1 bg-[#eab308] text-black border-2 border-black border-solid rounded" href="/">Home</a></div>
        </div>
    </div>

</body>
</html>