<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tasks</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/alltask/alltask.css">
</head>
<body>
    <div class="main-container flex h-screen justify-center items-center bg-[#f1f5f9]">
        <table class="text-center w-[300px] shadow-lg" >
            <tr>
                <th class="bg-[#fde047] text-3xl">Task List</th>
            </tr>
            <tr>
                <td><a href="public/Tictactoe/">Tic Tac Toe</a></td>
            </tr>
            <tr>
                <td><a href="public/kuku-Kube">Ku Ku Kube</a></td>
            </tr>
            <tr>
                <td><a href="http://localhost:9999/searching/table">Searching and Pagination</a></td>
            </tr>
            <tr>
                <td><a href="http://localhost:9999/job">Job Application Form</a></td>
            </tr>
            <tr>
                <td><a href="http://localhost:9999/job/dashboard">Job Dashboard</a></td>
            </tr>
            <tr>
                <td><a href="http://localhost:9999/dynamictable">Dynamic Table</a></td>
            </tr>
            <tr>
                <td><a href="/public/Prototype_1">Prototype 1</a></td>
            </tr>
            <tr>
                <td><a href="/public/Prototype_2">Prototype 2</a></td>
            </tr>
        </table>


    </div>
    
</body>
</html>