<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="site-wrapper flex items-center justify-center h-screen flex-col">
        <div>
            <h1 class="text-3xl">Your Account is not activated Currently CLick Below TO Activate Your Account</h1>
        </div>

        <div class="mt-6">
            <a href="/logout">Logout</a>
            <a class="inline p-2 border-2 border-solid bg-black text-white rounded" href="http://localhost:9999/activate?userEmail=<%=userEmail%>&activationCode=<%=activationCode%>">Activate</a>
        </div>
    </div>
</body>
</html>