*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{

} */

#mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:40px;
}
table, tr, td{
    border: 2px solid black;
    border-collapse: collapse;
}
table{
    height: 450px;
    width: 450px;
}
table{
    margin-bottom: 20px;
}
.btn-container{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

#startBtn, #resetBtn{
    border: 1px solid black;
    padding: 6px 8px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
}