<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/activation.css">
</head>
<body>
    <div class="site-wrapper flex items-center justify-center h-screen flex-col">
        <div>
            <h2 id="activation-head-text" class="text-2xl"><%= displayMsg%></h2>
        </div>

        <div class="mt-6">
            <a class="inline p-2 border-2 border-solid border-black bg-white text-black rounded" href="/logout">Logout</a>
            <p id="linkBtn" class="inline p-2 border-2 border-solid border-black bg-black text-white rounded" onclick="sendMailToUser(`<%=userEmail%>`,`<%=activationCode%>`)">Send Link</p>
        </div>
        <div id="loader" class=""><div class="container"></div></div>
    </div>

    <script>
        let loader = document.getElementById("loader")
        var displayMsgVar;
        function sendMailToUser(userEmail,activationCode){
            loader.classList.add('overlay')
           fetch(`http://localhost:9999/sendlink?userEmail=${userEmail}&activationCode=${activationCode}`)
           .then(res=>res.json())
           .then(data=>{
            console.log(data)
            console.log(data.displayMsg)

            displayMsgVar = data.displayMsg
           
           })
           setTimeout(()=>{
            let displayMsg = document.getElementById("activation-head-text")
            displayMsg.innerText = `${displayMsgVar}`

            let linkBtn =  document.getElementById('linkBtn')
            linkBtn.innerText = `Send Again`
            loader.classList.remove('overlay')
           },1000)
        }
    </script>
</body>
</html>